.profile {
    color: #FFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: calc(0.03984375 * 100vw);
}

@media screen and (max-width: 425px) {
    .profile {
        flex-direction: column;
    }
}