.element__like {
    border: 0;
    background-color: #FFF;
    /* background-color: none;
    background-image: url(../../../images/Vectorlike-2.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%; */
}