.profile-info__info {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: max(14px, calc(0.0140625 * 100vw));
    line-height: max(17px, calc(0.0171875 * 100vw));
    font-style: normal;
    grid-area: info;
}

@media screen and (max-width: 425px) {
    .profile-info__info {
        text-align: center;
    }
}