.profile-info__edit-button {
    border: 1px solid #FFFFFF;
    padding: 0;
    background-color: #000;
    width: 24px;
    height: 24px;
    background-image: url(../../../images/Vector-edit.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin-top: auto;
    margin-left: 18px;
    /* display: inline-block;
    vertical-align: bottom; */
}